server {
    listen 80 default_server;
    listen [::]:80 default_server;
    
    # Atrapa cualquier subdominio que NO haya hecho match arriba
    server_name _;

    location / {
        proxy_pass {{ delegate_target }};
        
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        
        # Soporte WebSocket por si el servidor destino lo requiere
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }
}
